<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/head'); %>
   <body class="container">
      <%- include('../partials/header', {pagina: 'sobre'}); %>
      <main>
         <div class="bg-secondary">
            <h1>sobre mim</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque sint, corporis explicabo blanditiis atque dolorum facere quasi. Placeat dolorum eligendi similique aliquid eius accusantium rerum harum culpa illo nisi.</p>
         </div>
      </main>
      <%- include('../partials/footer'); %>
   </body>
</html>