/*===========================================*/
/* .container2 #box {
	cursor: pointer;
	background-color: lightseagreen;
	padding: 40px;
	width: 200px;
	text-align: center;
	margin: 20px auto;
	color: white;aw
} */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 400px;
}
.container{
	margin: 1rem 0;
}
.container #input-el {
	border: 1px solid #5f9341;
	width:25rem;
	height: 2rem;
}
button { 
	margin-top: .6rem;
	background-color: #5f9341;
	color: #fff;
	border: 1px solid #5f9341;
	width: 10rem;
	height: 3rem;
	font-weight: bold;
}
#delete-btn {
	width: 10rem;
	height: 3rem;
	font-weight: bold;
	background-color: white;
	color: #5f9341;
}

.container ul {
	margin-top: 20px;
	list-style: none;
	padding-left: 8px;
}
.container  li {
	margin-top: 5px;
}
.container a {
	color: #5f9341;
}
