
/* body {
    background-color: rgba(255, 217, 0, 0.644);
} */
/* 
#countLabel {
    display: block;
    text-align: center;
    font-size: 50px;
} */

/*====================== AULA 61 ======================*/

/* #myLabel{
    background-color: red;
}
#myLabel2{
    background-color: rgb(0, 4, 255);
}
#myLabel3{
    background-color: rgb(60, 255, 0);
} */

/*====================== AULA 73 ======================*/

/* #myDiv{
    background-color: lightblue;
    width: 100px;
    height: 100px;
} */

/*====================== AULA 74 ======================*/

/* #innerDiv{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    border: 1px solid ;
}
#outerDiv{
    background-color: lightblue;
    width: 200px;
    height: 200px;
   
} */


/*====================== AULA 75 ======================*/

/* #myImg {
    width: 300px;
    
} */

/*====================== AULA 76 ======================*/

/* #myDiv {
background-color: lightblue;
width: 100px;
height: 100px;
border: 2px solid ;
position: relative;
} */

/*====================== AULA 77 ======================*/

/* #myDiv {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    position: relative;
} */

/*====================== AULA 78 ======================*/
/* 
#myCanvas {
    border: 1px solid black;
    background-color: skyblue;
} */


/*====================== AULA 79 ======================*/
/* #myDiv {
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-color: lightblue;
} */

/*====================== AULA 81 ======================*/

/* .timerBtn{
    width: 80px;
    height: 30px;
    border: 2px solid;
    border-radius: 12px;
    background-color: #333;
    color: #fff;
    cursor: pointer ;
    font-family: consolas,monospace;
}

#timeDisplay {
    font-size: 75px;
    color: #4fc44f;
    font-family: consolas,monospace;
    
}

#timeContainer {
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    background-color: #222;
} */

/*====================== AULA 82 ======================*/

/* #gameDiv {
    font-family:  cursive;
    border:  3px solid ;
    border-radius: 25px;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
}

.choiceBtn {
    line-height: 30px;
    width: 150px;
}

#playerText {
    color: #298029;
}

#computerText {
    color: red;
} */


/*====================== AULA 83 ======================*/

/* .cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0  2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer {
    font-family: cursive;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
} */

/*====================== AULA 84 ======================*/
/* #gameContainer {
    text-align: center;
}

#gameBoard {
    border: 3px solid;
}

#scoreText {
    font-family: cursive;
    font-size: 100px;
}

#resetBtn {
    font-family: cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
} */


/*====================== AULA 85 ======================*/

#gameContainer {
    text-align: center;
}
#gameBoard {
    border: 3px solid;
}

#scoreText {
    font-family: monospace;
    font-size: 100px;
}

#resetBtn {
    font-family: cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 50px;
    cursor: pointer;
}

























