body {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
/* div {
	margin-top: 2rem;
}

button{
	margin-top: 2rem;
}
#sum-el {
	margin-top: 2rem;
} */
.container2{
	background-color: #016f32;
	color: beige;
	text-align: center;
	padding: 2rem;
}
.container2 h1 {
	color: goldenrod;
}
.container2 button{
	font-size: 1.6rem;
	font-weight: 600;
	color: #016f32;
	background-color: goldenrod;
	border: navajowhite;
}

.container2 button{
	width: 15rem;
	margin-top: .5rem;
	transition: 260ms ease-in-out;
}

.container2 button:hover {
	transform: scale(1.06);
}