@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
	box-sizing: border-box;

}

body {
	font-family:'poppins';
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

canvas {
	width: 500px;
	height: 500px;
	border: 2px solid gray;
}