@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
	box-sizing: border-box;

}

body {
	font-family:'poppins';
	margin: 0;
	background-color: #f1f1f1;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}


.mobile-container {
	width: 400px;
	background-color: white;
}

header {
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

header input {
	width: 100%;
	border: none;
	background-color: #eee;
	border-radius: 4px;
	padding: .5rem 1rem;
	font-family: inherit;
}

header button {
	background-color: transparent;
	color: rgb(180, 179, 179);
	border: none;
	margin-left: 6px;
	font-size: 1.3rem;
}

.fav-container {
	background-color: #f1f1f1;
	padding: 1rem ;
	text-align: center;
		overflow: hidden;
}

.fav-meals {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	flex-wrap: wrap;
}

.fav-meals li {
	margin: 3px 10px;
	width: 80px;
	position: relative;
}

.fav-meals li .clear {
	background: transparent;
	position: absolute;
	top: 0;
	right: -5px;
	color: rgb(224, 22, 22);
	border: none;
	font-size: 1.1rem;
	display: none;
	transition: all 600ms ease-in-out;
}
.fav-meals li:hover .clear{
	display: block;
}

.fav-meals li img {
	border: 2px solid #fff;
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
}

.fav-meals li span {
	width: 75px;
	display: inline-block;
	white-space: nowrap;
	font-size: .9rem;
	overflow: hidden;
}

.meal {
	margin: 1rem;
	border-radius: 5px;
	overflow: hidden;
}

.meal-header {
	position: relative;
}
.meal-header .random{
	position: absolute;
	top: 10px; 
	background-color: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: .1rem .3rem;
}

.meal-header img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.meal-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.meal-body h4 {
	margin: 0;
}

.meal-body .fav-btn {
	background-color: #fff;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
}

.active{
	color: red;
}

.popup-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	inset: 0;
}
.popup-container.hidden {
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

.popup {
	border-radius: 5px;
	background-color: #f1f1f1;
	max-width: 600px;
	padding: 0 2rem;
	position: relative;
}

.popup h1 {
	text-align: center;
}

.popup img {
	width: 100%;
}

.popup .close-popup{
	position: absolute;
	top: 1rem;
	right: 1rem;
	border: none;
	color: red;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
}

