* {
   margin: 0;
   padding: 0;

}

body {
   background-color: lightblue;
   background-image: linear-gradient(rgb(175, 75, 75),
         rgb(143, 58, 58),
         rgb(59, 153, 148));
   min-height: 100vh;
}
img {
   width: 100%;
}

#game{
   height: 500px;
   width: 400px;
   border: 1px solid black;
   background: url(https://cdnb.artstation.com/p/assets/images/images/021/356/959/medium/henrique-xavier-cartoon-forest.jpg?1571346609);
   background-size: cover;
   margin: 1rem auto;
   overflow: hidden;
}

#block{
   width: 50px;
   height: 500px;
   background-color: rgb(44, 44, 192);
   position: relative;
   left: 400px;
   animation: block 2s linear infinite;
} 

@keyframes block {
   0%{
      left: 400px;
   }
   100%{
      left: -50px;
   }
}

#hole {
   height: 150px;
   width: 50px;
   background-color: yellow;
   position: relative;
   left: 400px;
   top: -500px;
   animation: block 2s linear infinite;
}

#bird {
   position: fixed;
   top: 100px;
   height: 50px;
   width: 50px;
}

#bird img {
   height: 50px;
   width: 50px;
}

#result {
   height: 200px;
   width: 500px;
   background-color: rgb(253, 108, 108);
   border-radius: 5px;
   margin: 5rem auto;
   border: 2px solid white;
   text-align: center;
   display: none;
}

#btn {
   padding: .5rem 1rem;
   border: none;
   background-color: aquamarine;
   border-radius: 5px;
   font-size: 1.5rem;
   text-transform: uppercase;
   margin-top: 1rem;
   cursor: pointer;
}

#text {
   margin-top: 1rem;
   font-size: 2rem;
}