@mixin flexCenter {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin mq($size) {
   @media (min-width: $size){
      @content;
   }
}

@mixin mqh($size) {
   @media (min-height:$size) {
      @content;
   }
}
@mixin mqMaxWMinH($size1,$size2) {
   @media (max-width: $size1) and (min-height: $size2) {
      @content;
   }
}